*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    background: linear-gradient(40deg, rgb(1, 100, 182), rgb(2, 86, 155));
    background-size: cover;
    background-attachment: fixed;
}

body {
	position: relative;
	height: 100vh;
	padding-bottom: 7.5rem;
   	font-size: 2rem;
	font-family: 'Krub', sans-serif;
}

main{
	position: relative;
	height: 100%;
}


footer{
	position: fixed;
	bottom: 0;
    width: 100%;
    height: 4rem;
    left: 0;
}

.footer-texto{
	height: 4rem;
	background:rgb(1, 51, 92);
	color: white;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-texto p{
	font-size: 1.5rem;
}


form{
	width: 100%;
	max-width: 40rem;
	margin-top: -5rem;
}

input {
	width: 91%;
	margin-left: 5%;
	margin-bottom: 1rem;
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 1rem;
	font-size: 1.5rem;
	color: #fff;
	text-shadow: .1rem .1rem .1rem rgba(0,0,0,0.3);
	border: .2rem solid rgba(0,0,0,0.3);
	border-radius: .4rem;
	box-shadow: inset 0 -.5rem 4.5rem rgba(100,100,100,0.2), 0 .1rem .1rem rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

/* BOTONES */

.btn {
    display: inline-block;
    margin-left: .5rem;
    margin-bottom: 0;
    padding: .2rem .1rem .2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #333333;
    text-align: center;
    text-shadow: 0 .1rem .1rem rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: .1rem solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: .9rem 1.4rem;
    font-size: 1.5rem;
    line-height: normal;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    border-radius: .5rem;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #000000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    filter: none;
    background-color: #4a77d4;
}

.btn-secondary, .btn-secondary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-secondary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-secondary {
    background-color: #dd3300; /* Rojo */
    background-image: -moz-linear-gradient(top, #ce8181, #ff0000);
    background-image: -ms-linear-gradient(top, #ce8181, #ff0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#ff0000));
    background-image: -webkit-linear-gradient(top, #ce8181, #ff0000);
    background-image: -o-linear-gradient(top, #ce8181, #ff0000);
    background-image: linear-gradient(top, #ce8181, #ff0000);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #000000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(27, 27, 27, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {
    filter: none;
    background-color: #ff0000; /* Un rojo más oscuro al pasar el ratón por encima */
}

.btn-block {
	width: 43%;
    margin-top: 1rem;
	margin-left: .5rem;
    display: block;
}

.btn-grupo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BOTONES ELIMINAR */

.btn-eliminar {
    color: #ffffff; /* Texto blanco para contraste */
    background-color: #ff0000; /* Rojo */
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: .1rem solid #2c2929;
}

.btn-eliminar:hover, .btn-eliminar:active, .btn-eliminar.active, .btn-eliminar.disabled, .btn-eliminar[disabled] {
    background-color: #cc0000; /* Un rojo más oscuro al pasar el ratón por encima */
}

.btn-eliminar-primary {
    background-color: #ff0000; /* Rojo */
    background-image: -moz-linear-gradient(top, #ce8181, #ff0000);
    background-image: -ms-linear-gradient(top, #ce8181, #ff0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#ff0000));
    background-image: -webkit-linear-gradient(top, #ce8181, #ff0000);
    background-image: -o-linear-gradient(top, #ce8181, #ff0000);
    background-image: linear-gradient(top, #ce8181, #ff0000);
    box-shadow: inset 0 1px 0 rgba(27, 27, 27, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-eliminar-primary:hover, .btn-eliminar-primary:active, .btn-eliminarprimary.active, .btn-eliminar-primary.disabled, .btn-eliminar-primary[disabled] {
    background-color: #ff0000; /* Un rojo más oscuro al pasar el ratón por encima */
}

/* BOTONES MODAL */

.btn-modal {
    color: #000000;
    background-color: #4f7fd9;
    border-color: #375896
}

.btn-modal.focus,
.btn-modal:focus {
    color: #000000;
    background-color: #4f7fd9;
    border-color: #375896
}

.btn-modal:hover {
    color: #000000;
    background-color: #4f7fd9;
    border-color: #375896
}

.btn-modal.active,
.btn-modal:active,
.open>.dropdown-toggle.btn-modal {
    color: #000000;
    background-color: #4f7fd9;
    background-image: none;
    border-color: #375896
}

.btn-modal.active.focus,
.btn-modal.active:focus,
.btn-modal.active:hover,
.btn-modal:active.focus,
.btn-modal:active:focus,
.btn-modal:active:hover,
.open>.dropdown-toggle.btn-modal.focus,
.open>.dropdown-toggle.btn-modal:focus,
.open>.dropdown-toggle.btn-modal:hover {
    color: #ffffff;
    background-color: #4f7fd9;
    border-color: #375896
}

.btn-modal.disabled.focus,
.btn-modal.disabled:focus,
.btn-modal.disabled:hover,
.btn-modal[disabled].focus,
.btn-modal[disabled]:focus,
.btn-modal[disabled]:hover,
fieldset[disabled] .btn-modal.focus,
fieldset[disabled] .btn-modal:focus,
fieldset[disabled] .btn-modal:hover {
    background-color: #4f7fd9;
    border-color: #375896
}


