.login-mensajes{
    width: 40rem;
    height: 5rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.3rem;
}

.login-mensajes p{
	color: white;
}

.registro{
    color: yellow;
}

.restablecer{
    color: orange;
}

.error{
    margin-top: 5rem;
}

@media only screen and (max-height: 1000px){

}

@media only screen and (max-height: 900px){

}

@media only screen and (max-height: 800px){
    .formulario {
        top: 35%;
    }
}


@media only screen and (max-height: 700px) {
    .formulario {
        top: 35%;
    }
}

@media only screen and (max-height: 480px) {
    .formulario {
        top: 35%;
    }
}
