.recuerdame{
    width: 90%;
    font-size: 1.3rem;
    margin-left: 10%;
    margin-top: 1rem;
    display: flex;
}

.recordar-check{
    width: auto;
    margin-top: 1rem;
    margin-left: 4rem;
}

.recordar-label{
	display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    color: white;
}

.regis-reset{
    width: 40rem;
    height: 5rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.3rem;
}

.regis-reset p{
	color: white;
}

.registro{
    color: yellow;
}

.restablecer{
    color: orange;
}

.error_message{
    margin-top: 5rem;
}

@media only screen and (max-height: 1000px){

}

@media only screen and (max-height: 900px){

}

@media only screen and (max-height: 800px){
    .formulario {
        top: 35%;
    }
}


@media only screen and (max-height: 700px) {
    .formulario {
        top: 35%;
    }
}

@media only screen and (max-height: 480px) {
    .formulario {
        top: 35%;
    }
}
