:root {
    --font-weight-bold: bold;
    --margin-left-half-rem: 0.5rem;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(1, 51, 92);
    color: #fff;
    padding: 1rem;
}

/* TITULO PRINCIPAL */

.titulo {
    display: flex;
    align-items: center;
}

.titulo a {
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.imagen-tareas{
    width: 3rem;
    height: 3rem;
    margin-left: .6rem;
}

/* NOMBRE DE USUARIO */

.usuario {
    display: flex;
    align-items: center;
    margin-left: .5rem;
    margin-top: .4rem;
}

.usuario a {
    font-size: 1.2rem;
    color: burlywood;
    text-decoration: none;
}

/* MENU PRINCIPAL */

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 2rem;
}

.menu li a {
    font-size: 1.8rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-opcion-1,
.menu-opcion-2,
.menu-opcion-3,
.menu-opcion-4,
.menu-opcion-5 {
    color: white;
}

.menu-opcion-6 {
    color: orange;
}

.menu-opcion-1:hover,
.menu-opcion-2:hover,
.menu-opcion-3:hover,
.menu-opcion-4:hover,
.menu-opcion-5:hover {
    color: gold;
}

.menu-opcion-6:hover {
    color: red;
}

.toggle {
    display: none;
    cursor: pointer;
}

/* SUB MENU HISTORIAL */

.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgb(1, 51, 92);
    min-width: 16rem;
    box-shadow: 0rem .8rem 1.6rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -1rem;
}

.dropdown-content a {
    color: white;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: gold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* MUESTRA LAS 5 ETAPAS DE LAS TAREAS */

.sectores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: .5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sector {
    margin: 2rem 1rem 1rem 1rem;
    width: calc(20% - 1rem);
    flex: 1;
    margin-bottom: 3rem;
    background-color: #ccc;
    border: 0.2rem solid black;
    padding: .5rem;
    overflow: auto;
}

.sector-1 {
    background-color: rgb(1, 51, 92);
}

.sector-2 {
    background-color:  rgb(1, 51, 92);
}

.sector-3 {
    background-color:  rgb(1, 51, 92);
}

.sector-4 {
    background-color:  rgb(1, 51, 92);
}

.sector-5 {
    background-color:  rgb(1, 51, 92);
}

.sector-titulo {
    display: flex;
    font-size: 2rem;
    color: rgb(163, 163, 163);
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 19, 29);
    height: 3rem;
    margin-bottom: .5rem;
}

/* MUESTRA LAS TAREAS DENTRO DE CADA SECTOR */

.tabla {
    padding: .2rem;
    background-color: #fff;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: .5rem;
    border: .2rem solid #333;
    background-color: #f2f2f2;
    table-layout: fixed;
}

th, td {
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

th {
    background-color: #dad3d3;
}

.tarea-titulo{
    text-align: center;
    word-wrap: break-word;
}

.tarea-texto{
    text-align: center;
    font-size: 1.6rem;
    word-wrap: break-word;
}

.tarea-inicia,
.tarea-finaliza {
    text-align: center;
    word-wrap: break-word;
    font-size: 1.5rem;
}

.tarea-inicia a,
.tarea-finaliza a,
.tarea-datos a {
    font-weight: var(--font-weight-bold);
}

.tarea-datos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.tarea-datos a span {
    font-weight: normal;
}

.tarea-id span,
.tarea-comentarios span,
.tarea-usuarios span {
    margin-left: var(--margin-left-half-rem);
}

.tarea-comentarios,
.tarea-usuarios {
    margin-left: 3rem;
}

.icono-id,
.icono-comentario,
.icono-usuario {
    width: 2rem;
    height: 1.6rem;
    transform: translateY(.2rem);
}

.tarea-botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarea-botones button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.6rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
    margin: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
    width: 9rem;
    height: 3.5rem;
    word-wrap: break-word;
}

.tarea-botones button.ver {
    background-color: #008CBA;
}

.tarea-botones button.modificar {
    background-color: #f44336;
}

.tarea-botones button.comentar {
    background-color: #555555;
}

.tarea-botones button:hover {
    background-color: #3e8e41;
}

.error-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: -8rem;
}

.error-subtitulo{
    color: orange;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.error-texto{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.paginas-subtitulo{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50.6%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    display: none;
    width: 40rem;
    font-size: 1.5rem;
    text-align: center;
}

.modal-content {
    background: linear-gradient(40deg, rgb(189, 194, 197),rgb(197, 201, 204));
    border: .1rem solid #000000;
    border-radius: .5rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.modal-header {
    border-bottom: .1rem solid #888;
    padding-bottom: 1rem;
}

.modal-footer {
    border-top: .1rem solid #888;
    padding-top: 1rem;
}

@media screen and (min-width: 921px) and (max-width: 1200px) {
    .sectores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content min-content;
        grid-template-areas:
            "sector-1 sector-2 sector-3"
            "sector-4 sector-5 .";
        grid-gap: 1rem;
    }

    .sector {
        width: calc(100% - 1rem);
    }
}


@media screen and (min-width: 601px) and (max-width: 920px) {
    body{
        min-height: 100vh;
    }

    .titulo a {
        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }

    .usuario {
        justify-content: flex-end;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 0;
        width: 45%;
        background-color:  rgb(1, 51, 92);
        padding: 1rem;
        z-index: 1;
    }

    .menu li {
        margin: 1rem 0;
        text-align: right;
    }

    .menu li a {
        color: bisque;
    }

    .toggle {
        display: block;
    }

    .toggle img{
        width: 3rem;
        height: 3rem;
    }

    .menu.active {
        display: flex;
    }

    .dropdown-content {
        right: 0;
        background-color:  rgb(5, 44, 78);
    }

    .sectores {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "sector-1 sector-2"
            "sector-3 sector-4"
            "sector-5 .";
        grid-gap: 1rem;
    }

    .sector {
        width: calc(100% - 1rem);
    }
}

@media screen and (max-width: 600px) {
    body{
        min-height: 100vh;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .titulo a {
        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }

    .usuario {
        justify-content: flex-end;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 0;
        width: 45%;
        background-color:  rgb(1, 51, 92);
        padding: 1rem;
        z-index: 1;
    }

    .menu li {
        margin: 1rem 0;
        text-align: right;
    }

    .menu li a {
        color: bisque;
    }

    .toggle {
        display: block;
    }

    .toggle img{
        width: 3rem;
        height: 3rem;
    }

    .menu.active {
        display: flex;
    }

    .dropdown-content {
        right: 0;
        background-color:  rgb(5, 44, 78);
    }

    .sectores {
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex-direction: column;
        width: auto;
        height: auto;
   }

    .sector {
        width: 95%;
    }

    .tarea-texto {
        font-size: 1.2rem;
    }
}



